
.employees {
    display: flex;
    margin: 1em auto;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    
  }
  
  .employee {
      padding: 1em;
      border: .5px solid slategray;
      background-color: whitesmoke;
      margin: 1em auto;
      max-width: 60%;
  }

  button {
      margin: 1em auto;
  }

  .employeeForm {
    margin: 1em auto;
    max-width: 60%;
  }

  .employeeForm fieldset {
    border: none;
  }

  .employeeForm button {
    border: none;
    background-color: skyblue;
  }